body {
  background: #F0EFF4;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  max-width: 1220px;
}

.footer {
  background-color: white;
  border-top: 2px solid #DA4167;
  padding: 20px;
}

@media (min-width: 1261px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

.footer a {
  color: #DA4167;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  display: inline-block;
  margin-left: 20px;
}

.attribution-notice {
  background-color: white;
  border: 2px solid #DA4167;
  box-sizing: border-box;
  padding: 20px;
  /*margin: 0 auto;*/
  /*max-width: 90%;*/
}

.attribution-notice a {
  color: #DA4167;
  text-decoration: none;
}

.attribution-notice a:hover {
  text-decoration: underline;
}