body {
  background: #F0EFF4;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

form {
  margin: 0 auto;
  width: 100%;
}

form > h1 {
  font-size: 21px;
  margin: 6px 0;
  text-align: center;
}

@media (min-width: 500px) {
  form {
    width: 500px;
  }
  form > h1 {
    font-size: 28px;
  }
}

form > div {
  background: #3D2645;
  clear: both;
  padding: 16px;
}

form > .secret {
  background: none;
}

label {
  color: #F0EFF4;
  display: block;
  margin-bottom: 6px;
}

input[type=number] {
  border: none;
  box-sizing: border-box;
  font-size: 24px;
  padding: 8px;
  width: 100%;
}

.add-gst .form-group:not(:last-child),
.subtract-gst .form-group:not(:last-child) {
  margin-bottom: 16px;
}

.strategy-selector {
  margin-bottom: 16px;
}

.strategy-selector--add .add {
  background: #DA4167;
}

.strategy-selector--subtract .substract {
  background: #DA4167;
}

.strategy-selector button {
  background: #832161;
  border: none;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 0;
  padding: 12px;
  position: relative;
  text-align: center;
  transition: background-color .1s ease-in-out;
  width: 50%;
}

.strategy-selector button:hover {
  background: #DA4167;
  cursor: pointer;
}

.input-container {
  display: flex;
}

.copy-to-clipboard {
  border: 0;
  padding: 8px;
  transition: color .1s ease-in-out;
}

.copy-to-clipboard:hover {
  color: #DA4167;
  cursor: pointer;
}